useDynLib(soilsecuritylab)
importFrom(Rcpp, evalCpp)
importFrom(methods,
  setClass,
  representation,
  prototype,
  new,
  setMethod
)
importFrom(DEoptim,
  DEoptim
)
import(RcppArmadillo)
exportPattern(".")
exportMethods(
    "length",
    "[",
    "plot",
    "predict",
    "summary",
    "vcov" 
)
exportClasses(
    "FuzzyCluster",
    "FuzzyClusterGroup" 
)
